<h1>Citing Resources</h1>
<p>
  Connected Scholar allows you to dynamically integrate the resources you found
  <% link_to "using the search feature", help_finding_resources_path %> into your document.
</p>
<p>
  Let's assume you have an unused source in your document.
</p>
<p>
  <%= image_tag "help/pad.sources.first.png" %>
</p>
<p>
  You can click and drag the link onto the document.
</p>
<p>
  <%= image_tag "help/pad.sources.drag.png" %>
</p>
<p>
  This will create a citation in the document.
</p>
<p>
  <%= image_tag "help/pad.citation.mla.png" %>
</p>