<h1>Getting Started</h1>
<p>
  Hello, and welcome to Connected Scholar. The Connected Scholar is an online workspace for students and scholars to
  draft writing projects while tracking the progression of one’s ideas through exploratory, intellectual engagement with
  established works.
</p>
<ul>
  <li>
    <%= link_to "Sharing Documents", help_sharing_documents_path %>
  </li>
  <li>
    <%= link_to "Finding Resources", help_finding_resources_path %>
  </li>
  <li>
    <%= link_to "Citing Resources", help_citing_resources_path %>
  </li>
</ul>
