<h1>Sharing Documents</h1>
<p>
  An important feature of Connected Scholar is the ability to share documents with other users.  This allows them to
  help edit your work, or recommend resources that might make good references.
</p>