<h1>Sharing Documents</h1>
<p>
  An important feature of Connected Scholar is the ability to share documents with other users. This allows them to
  help edit your work, or recommend resources that might make good references.
</p>
<p>
  First, open up one of your documents.
</p>
<p>
  <%= image_tag "help/dashboard.my.document.png" %>
</p>
<p>
  Next, click the link to Manage the document.
</p>
<p>
  <%= image_tag "help/pad.manage.doc.link.png" %>
</p>
<p>
  You should now be on the Management page for the Document. There is a section at the bottom of this page called
  "Contributors."  Since you probably haven't shared this document yet, the list will be empty.
</p>
<p>
  <%= image_tag "help/document.contributors.empty.png" %>
</p>
<p>
  To share your doucment with a contirbutor, enter the address of another Connected Scholar user in the text box below
  the Contributors section.  Then press the "Add" button (if you don't know any other users, you can try sharing with
  the <em>admin@test.com</em> user)
</p>
<p>
  The user you shared the document with should appear in the list of Contributors.
</p>
<p>
  <%= image_tag "help/document.contributors.first.png" %>
</p>
<p>
  You can revoke a contributor's access to your document at anytime by clicking the "Remove" link next to their name.
</p>
<p>
  Any user that you have shared your document with will see the document in the list of "Shared Documents" on their
  Dashboard page.
</p>