<div id="padLeft">
  <h1>Active Sources</h1>
  <br/>
  <div id="active_sources">
    <%= render :partial => "resources/resource", :collection => @document.active_sources, :locals => {:make_draggable => true}%>
  </div>
</div>