<% content_for :head do %>
  <!-- stylesheets -->
  <link href="/static/css/pad.css" rel="stylesheet" />
  <%= render :partial => 'pad_js'%>
  <style type="text/css" title="dynamicsyntax"></style>

  <script type="text/javascript">

    $(function(){
	    setupDraggables();
      setupViewSources();
      setupActiveSourceContextMenus();
    });

  </script>

<% end %>

  <%= render :partial => 'pad_left'%>
  <%= render :partial => 'pad_middle'%>
  <%= render :partial => 'pad_right'%>
  <div id="resource_citation_div" style="display:none;"></div>
