<% content_for :head do %>
  <!-- stylesheets -->
  <link href="/static/css/pad.css" rel="stylesheet" />
  <%= render :partial => 'pad_js'%>
  <style type="text/css" title="dynamicsyntax"></style>

  <script type="text/javascript">
    
    $(function(){
      $("#draggable").draggable({zIndex: 1000, helper: 'clone', iframeFix: true,
        start: function(event,ui){
          setupDropzone();
        }
      });
    });
    
    function setupDropzone(){
      var doc = window.parent.frames[1].frames[0].document;
      var innerdocbody = $(doc).find("#innerdocbody");
      var allmagic = innerdocbody.find('div[id^="magicdomid"]');
      allmagic.droppable({
        hoverClass: 'ui-state-highlight',
        drop: function(event, ui){
          var target = $(event.target);
          var node = doc.getElementById(target.attr("id"));
          target.focus(function() {
            window.setTimeout(function() {
              setCursorPosition(0, node, doc);
            });
          });
          //create the new line after drop target
          target.after(ui.draggable.html());
          target.attr('tabindex', -1).focus().removeAttr('tabindex');
          return true;
        }
      });
    }

    function setCursorPosition(pos, node, doc){
        var sel, range;
        if (window.getSelection && doc.createRange) {
          range = doc.createRange();
          range.setStart(node, pos);
          range.setEnd(node, pos);
          range.collapse(true);
          sel = window.getSelection();
          sel.removeAllRanges();
          sel.addRange(range);
        } else if (node.createTextRange) {
          range = node.createTextRange();
          range.collapse(true);
          range.select();
        }
    }
    
  </script>

<% end %>

<div id="main">
  <%= render :partial => 'pad_left'%>
  <%= render :partial => 'pad_middle'%>
  <%= render :partial => 'pad_right'%>
</div>