<% content_for :head do %>
  <!-- stylesheets -->
  <link href="/static/css/pad.css" rel="stylesheet" />
  <%= render :partial => 'pad_js'%>
  <style type="text/css" title="dynamicsyntax"></style>

  <script type="text/javascript">
    $(function(){
	  $("#draggable").draggable({zIndex: 1000, helper: 'clone', iframeFix: true});
	  $("#editorcontainerbox").droppable({
		accepts: "draggable", 
	    drop: function(event, ui){
		  $(window.parent.frames[1].frames[0].document).find("#innerdocbody").append("Dropped");
	    }
	  });
	});
  </script>

<% end %>

<div id="main">
  <%= render :partial => 'pad_left'%>
  <%= render :partial => 'pad_middle'%>
  <%= render :partial => 'pad_right'%>
</div>