// Place all the styles related to the pad controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#leftPad {
  float: left;
  margin-left: 10px;
  height: 100%;
  width:  20%;
}

#rightPad {
  float: right;
  margin-right: 10px;
  height: 100%;
  width:  20%;
}

#padMiddle {
  margin-right: 10px;
  height: 100%;
  width: 60%;	
}