// Place all the styles related to the pad controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
  height: 100%;
}
body {
  height: 100%;
}
.custom-hover{
  background: blue;
}
#top{
  position: relative;
  width:  100%;
}

#mainContent {
  position: relative;
  min-height: 100%;
  height: 100%;
  width: 100%;
}

#main {
  position: relative;
  min-height: 100%;
  height: 100%;
  width:  100%;
}

#padLeft {  
  position: relative;
  float: left;
  height: 100%;
  width:  20%;
}

#padRight {
  position: relative;
  float: right;
  height: 100%;
  width:  20%;
}

#padMiddle {
  position: relative;
  float: left;
  height: 100%;
  min-height: 100%;
  width: 60%;	
}

.preDrag {
 min-height: 114px;
 height: 114px;
}