<h2>All Users</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Created At</th>
    <th></th>
  </tr>

  <% @users.sort_by {|u| u.approved? ? 1 : 0}.each do |u| %>
      <tr>
        <td><%= u.name %></td>
        <td><%= u.email %></td>
        <td><%= u.created_at %></td>
        <td>
          <% unless u.approved? %>
              <%= link_to 'Approve', admin_user_approve_path(u), :method => :post %>
          <% end %>
        </td>
      </tr>
  <% end %>
</table>